@model IngenieriaSoftware.Models.CarritoDetalleModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    Layout = "~/Views/Shared/_LayoutUser.cshtml"; 
}


<script src="~/js/CarritoCompra/Cotizacion.js"></script>
<div class="cart_section">
    <div class="cart_top">
        <div class="cont-fluid">
            <div class="cart_top_letter">
                <div class="">
                    <h5 class="">Carrito de cotización</h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="cart_top">
        <div class="cont-fluid">
            <div class="cart_top_letter">
                <table class="table table-sm table_section">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Código</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Items==null)
                        {
                            <tr><td valign="top" colspan="5"><span class="font-italic">Carrito de compras vacío</span></td></tr>
                        }
                        else
                        {
                        @for(int i = 0; i< Model.Items.Length; i++)
                        {
                            <tr>
                            <th>@(i+1)</th>
                            <th><img style="height:80px;" src="@Model.Items[i].ImagenPath" /></th>
                            <th>@Model.Items[i].Nombre</th>
                            <th>@Model.Items[i].Codigo</th>
                            <th>$@Model.Items[i].Precio</th>
                            <th>@Model.Items[i].Cantidad</th>
                            <th>$@(Model.Items[i].Precio*Model.Items[i].Cantidad)</th>
                            <th class="cart_delete">
                                <a class="cart_quantity_delete" href=""><i class="fa fa-times" id="xeliminacarrito"></i></a>
                            </th>
                        </tr>
                        }
                        }
                       
                    </tbody>
                </table>
            </div>
            <hr>
            @if (Model.Items != null)
            {
                <div class="cart_top_letter">
                <div class="cart_top_letter">
                    <div class="row justify-content-end" >

                        <div class="col-md-4 offset-md-4" style="text-align:end; margin-right: 30px">
                            <h3>Total: $@Model.TotalPrecio</h3>
                        </div>
                    </div>
                    <div class="cart_top_letter">
                        <div class="row justify-content-end" style="text-align:end">
                            <div class="col-4 text_section">

                            </div>
                            <div class="col-md-3 offset-md-3">
                                <a class="btn btn-primary"
                                   style="color:white;"
                                   data-idcarrito="@Model.IdCarrito"
                                   data-idcliente="@Model.IdUsuario"
                                   onclick="guardarCotizacion(this)">
                                    Concretar cotización
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

