@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using IngenieriaSoftware.Views.Shared.Components.AgregarProductoCarrito

@model TablaModel

@{
    ViewData["Title"] = "Productos";
    var session = ViewBag.Session;
    if (session != 3)
    {
        if (session == 0)
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else if (session == 1)
        {
            Layout = "~/Views/Shared/_LayoutUser.cshtml";
        }

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var data = Model.Datos;

}

<script src="~/js/jquery.scrollUp.min.js"></script>
<script src="~/js/jquery.prettyPhoto.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/CarritoCompra/AgregarCarrito.js"></script>


<section class="product_section layout_padding">

    <div class="container">
        <div class="row">
            <!--<div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>
                        Categorias
                    </h2>


                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Categoria 1
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Categoria 2
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Categoria 3
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                        <li><a href="#">Marca</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-sm-14 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Productos</h2>


                    <!-- product section -->
                    <div class="container">
                        <div class="row">
                            @for (int i = 0; i < data.Length; i++)
                            {
                                <div class="col-sm-6 col-lg-4">
                                    <div class="box">
                                        <div class="img-box">
                                            <img src="~/images/pesacocina.png" alt="">
                                            <a class="add_cart_btn" data-bs-toggle="modal" data-bs-target="@("#addCartItem_"+@data[i].id)" style="color:white;">
                                                Agregar al carrito
                                            </a>
                                            <div class="modal fade" id="@("addCartItem_"+@data[i].id)" tabindex="-1" aria-labelledby="addCartModal" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-sm" style="max-width:40%;">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="addProductModalLabel">Agregar @data[i].NombreProducto</h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true" style="color: #F216CE">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            @await Component.InvokeAsync(nameof(AgregarProductoCarrito),new{
                                                                    id = data[i].id, 
                                                                    NombreProducto = data[i].NombreProducto, 
                                                                    Descripcion = data[i].Descripcion,
                                                                    Marca = data[i].Marca,
                                                                    PrecioVenta = data[i].PrecioVenta
                                                                })
                                                                <p id="error"></p>
                                                            <div class="dropdown-divider"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="detail-box">
                                            <h5>
                                                @data[i].NombreProducto
                                            </h5>
                                            <div class="product_info">
                                                <h5>
                                                    <span>$</span> @data[i].PrecioVenta
                                                </h5>
                                                <div class="star_container">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="product_info">
                                                @data[i].Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- end product section -->



                </div><!--features_items-->

            </div>
        </div>
    </div>
</section>