
@model TablaModel


@{ var data = Model.Datos; }

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<div class="inventual-breadcrumb-area-inner px-0.5">
    <h5 class="text-20 text-black font-bold mb-3">Product List</h5>
    <div class="inventual-breadcrumb-area-inner-wrap">
        <span class="text-14 text-gray font-normal inline-block mr-2">Trading</span>
        <span class="text-14 text-gray font-normal inline-block mr-2">&gt;</span>
        <span class="text-14 text-gray font-normal inline-block mr-2">Product</span>
        <span class="text-14 text-gray font-normal inline-block mr-2">&gt;</span>
        <span class="text-14 text-gray font-normal inline-block mr-2">Product List</span>
    </div>
</div>
<hr>
<!--COMIENZO DE LA TABLA DE PRODUCTOS-->
<div class="">
    <div class="">

        <h4 class="">Lista de Productos</h4>

        <div class="">
            <button mat-raised-button="" color="accent" class="mat-focus-indicator mb-1 mat-raised-button mat-button-base mat-accent" tabindex="0">
                <span class="mat-button-wrapper">
                    <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">add</mat-icon> Agregar Producto Nuevo
                </span>
                <span matripple="" class="mat-ripple mat-button-ripple"></span>
                <span class="mat-button-focus-overlay"></span>
            </button>
        </div>

        <div>
            <table class="table table-sm table_section">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Producto</th>
                        <th>Código</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Stock</th>
                        <th>Precio Costo</th>
                        <th>Precio Venta</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < data.Length; i++)
                    {
                    <tr>
                        <td> @(i+1)</td>
                        <td>@data[i].NombreProducto</td>
                        <td>@data[i].Codigo</td>
                        <td>@data[i].Categoria</td>
                        <td><!--data[i].Marca-->MARCA</td>
                        <td><!--data[i].Stock-->STOCK</td>
                        <td>$@data[i].PrecioCosto</td>
                        <td>$@data[i].PrecioVenta</td>
                        <td>
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal@(i)">
                                Editar
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="editModal@(i)" tabindex="-1" aria-labelledby="editModalLabel@(i)" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel@(i)">Editar @data[i].NombreProducto</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <p id="error"></p>
                                            <form class="px-4 py-3">
                                                <div class="form-group">
                                                    <label for="codproducto">Código Producto</label><br>
                                                    <input class="form-control" id="codproducto" value="@data[i].Codigo" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="nameProduct">Nombre</label><br>
                                                    <input class="form-control" id="nameProduct" placeholder="@data[i].NombreProducto">
                                                </div>
                                                <div class="form-group">
                                                    <label for="catProduct">Categoría</label><br>
                                                    <input class="form-control" id="catProduct" placeholder="@data[i].Categoria">
                                                </div>
                                                <!--<div class="form-group">
                                                    <label for="marcaProduct">Marca</label><br>
                                                    //<input class="form-control" id="marcaProduct" placeholder="|ARROBA|data[i].Marca">
                                                </div>
                                                <div class="form-group">
                                                    <label for="stockProduct">Stock</label><br>
                                                    <input class="form-control" id="stockProduct" placeholder="|ARROBA|data[i].Stock">
                                                </div>-->
                                                <div class="form-group">
                                                    <label for="pcProduct">Precio de Costo</label>
                                                    <input class="form-control" id="pcProduct" placeholder="@data[i].PrecioCosto">
                                                </div>
                                                <div class="form-group">
                                                    <label for="pvProduct">Precio de Venta</label>
                                                    <input class="form-control" id="pvProduct" placeholder="@data[i].PrecioVenta">
                                                </div>
                                                <center>
                                                    <div class="contt5 container">
                                                        <div class="row align-self-center">
                                                            <div>
                                                                <button class="btn btn-primary"
                                                                        id="product-btn"
                                                                        type="submit"
                                                                        title="changeProduct">
                                                                    Guardar cambios
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="contt4">
                                                        <span id="error" style=""> </span>
                                                    </div>
                                                </center>
                                            </form>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
}
                </tbody>
            </table>
        </div>
    </div>
</div>



