@using IngenieriaSoftware.Views.Shared.Components.ProductModal
@using IngenieriaSoftware.Views.Shared.Components.EditarModal
@model TablaModel

@{ var data = Model.Datos; }

@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }


<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/fc-3.3.2/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/TablaProductos/editar-producto.js"></script>

<div class="table_section">

    <div class="table_top">
        <div class="container-fluid">
            <div class="table_top_letter">
                <div class="">
                    <h5 class="">Lista de Productos</h5>
                </div>

                <div class="inventual-breadcrumb-area-inner-wrap">
                    <span class="text-14 text-gray font-normal inline-block mr-2">Home</span>
                    <span class="text-14 text-gray font-normal inline-block mr-2">&gt;</span>
                    <span class="text-14 text-gray font-normal inline-block mr-2">Lista de Productos</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--COMIENZO DE LA TABLA DE PRODUCTOS-->
    <div class="table_top">
        <div class="container-fluid">
            <div class="table_top_letter2">
                <div class="">
                    <div class="">

                        <div class="container-btn">
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal" style="color:white;">
                                Agregar producto nuevo
                            </a>
                            <!-- ADD PRODUCT MODAL -->
                            <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addProductModalLabel">Agregar producto nuevo</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" style="color: #F216CE">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @await Component.InvokeAsync(nameof(ProductModal))
                                            <p id="error"></p>
                                            <!--<form class="px-4 py-3"
                                                  asp-controller="Ingresar"
                                                  asp-action="IngresarProducto"
                                                  method="post"
                                                  role="form"
                                                  id="ingresar-producto-form"
                                                  onkeydown="pnPreventSubmitOnEnter(event)"
                                                  data-ajax="true"
                                                  data-ajax-begin="ingresarbegin"
                                                  data-ajax-success="ingresarsuccess">
                                                <div class="form-group">
                                                    <label for="nameProduct">Nombre</label><br>
                                                    <input class="form-control" id="nameProduct" asp-for="NombreProducto" placeholder="Nombre del Producto">
                                                </div>
                                                <div class="form-group">
                                                    <label for="catProduct">Categoria</label>
                                                    <input class="form-control" id="categoria" asp-for="Categoria" placeholder="Categoria">
                                                </div>
                                                <div class="form-group">
                                                    <label for="descProduct">Descripción</label>
                                                    <input class="form-control" id="descProduct" asp-for="Descripcion" placeholder="Descripción">
                                                </div>
                                                <div class="form-group">
                                                    <label for="codProduct">Código producto</label>
                                                    <input class="form-control" id="codProduct" asp-for="Codigo" placeholder="Código producto">
                                                </div>
                                                <div class="form-group">
                                                    <label for="pcProduct">PrecioCosto</label>
                                                    <input class="form-control" type="number" id="pcProduct" asp-for="PrecioCosto" placeholder="Precio costo">
                                                </div>
                                                <div class="form-group">
                                                    <label for="pvProduct">PrecioVenta</label>
                                                    <input class="form-control" type="number" id="pvProduct" asp-for="PrecioVenta" placeholder="Precio venta">
                                                </div>
                                                <center>
                                                    <div class="contt5 container">
                                                        <div class="row align-self-center">
                                                            <div>
                                                                <button class="btn btn-primary"
                                                                        id="addProduct-btn"
                                                                        type="submit"
                                                                        title="addProduct">
                                                                    Agregar producto
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="contt4">
                                                        <span id="error" style=""> </span>
                                                    </div>
                                                </center>
                                            </form>-->
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="card">
                                <div class="card-title">
                                    <h2>  Ingresar Producto</h2>
                                </div>
                                <div class="form-group row ml-3">
                                    <form asp-controller="Ingresar"
                                          asp-action="IngresarProducto"
                                          method="post"
                                          class="form-row"
                                          role="form"
                                          id="ingresar-producto-form"
                                          onkeydown="pnPreventSubmitOnEnter(event)"
                                          data-ajax="true">
                                        <label class="mr-2 col-12">
                                            Nombre Producto
                                        </label><input asp-for="NombreProducto" />
                                        <label class="mr-2 col-12">
                                            Categoría
                                        </label><input asp-for="Categoria" />
                                        <label class="mr-2 col-12">
                                            Descripción
                                        </label><input asp-for="Descripcion" />
                                        <label class="mr-2 col-12">
                                            Código
                                        </label><input asp-for="Codigo" />
                                        <label class="mr-2 col-12">
                                            Precio de costo $
                                        </label><input asp-for="PrecioCosto" />
                                        <label class="mr-2 col-12">
                                            Precio de venta $
                                        </label><input asp-for="PrecioVenta" />
                                        <button id="ingresar-producto-btn"
                                                style="width:700px"
                                                class="btn btn-primary btn-sm ml-4 col-12"
                                                type="submit"
                                                title="Ingresar-Producto">
                                            Agregar Nuevo Producto
                                        </button>
                                    </form>
                                </div>



                            </div>-->
                            <span matripple="" class="mat-ripple mat-button-ripple"></span>
                            <span class="mat-button-focus-overlay"></span>
                            </button>
                        </div>

                        <div>
                            <table id="tablaAdmin" class="table table-sm table_section">
                                <thead>
                                    <tr>
                                        <th>Nº</th>
                                        <th>Producto</th>
                                        <th>Código</th>
                                        <th>Categoria</th>
                                        <th>Marca</th>
                                        <th>Stock</th>
                                        <th>Precio Costo</th>
                                        <th>Precio Venta</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @for (int i = 0; i < data.Length; i++)
                                    {
                                        <tr>
                                            <td> @(i+1)</td>
                                            <td>@data[i].NombreProducto</td>
                                            <td>@data[i].Codigo</td>
                                            <td>@data[i].Categoria</td>
                                            <td>@data[i].Marca</td>
                                            <td>@data[i].Stock</td>
                                            <td>$@data[i].PrecioCosto</td>
                                            <td>$@data[i].PrecioVenta</td>
                                            <td>
                                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal@(i)" style="color:white;">
                                                    Editar
                                                </a>

                                                <!-- Modal -->
                                                <div class="modal fade" id="editModal@(i)" tabindex="-1" aria-labelledby="editModalLabel@(i)" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel@(i)">Editar @data[i].NombreProducto</h5>
                                                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true" style="color: #F216CE">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                @await Component.InvokeAsync(nameof(EditarModal), new{
                                                                    id = data[i].id, 
                                                                    NombreProducto = data[i].NombreProducto, 
                                                                    Categoria = data[i].Categoria,
                                                                    Descripcion = data[i].Descripcion,
                                                                    Codigo = data[i].Codigo,
                                                                    Marca = data[i].Marca,
                                                                    Stock = data[i].Stock,
                                                                    PrecioCosto = data[i].PrecioCosto,
                                                                    PrecioVenta = data[i].PrecioVenta
                                                                })
                                                                <p id="error"></p>
                                                                   
                                                                <div class="dropdown-divider"></div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


