<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="@Url.Content("~/images/fevicon.png")" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <script src="@Url.Content("~/lib/jquery/jquery.min.js")"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src=@Url.Content("~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js")></script>
    <script src=@Url.Content("~/lib/jquery-validate/jquery.validate.js")></script>
    <script src=@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")></script>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/TablaProductos/eliminar-producto.js"></script>

    <script src="@Url.Content("~/js/Ingresar/ingresar.js")"></script>
    <script src="@Url.Content("~/js/InicioSesion/CerrarSesion.js")"></script>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/site.css")" />

   <!-- fonts style -->
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap")" rel="stylesheet"> <!-- range slider -->
    <!-- font awesome style -->
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/style2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/js/script2.js")" rel="stylesheet" />
    <!-- responsive style -->
    <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" />

    <title>@ViewData["Title"] - TECNOPAULY</title>
</head>


<body style="margin-bottom: 0">
    <script src="~/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    <div class="hero_area">
        <!-- COMIENZO HEADER -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="top_nav_container">
                        <div class="contact_nav">
                            <a id="linkfooter" href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Celular : +569 40371752
                                </span>
                            </a>
                            <a id="linkfooter" href="mailto:tecnopauly@gmail.com">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    Email : tecnopauly@gmail.com
                                </span>
                            </a>
                        </div>
                        <!--<form class="search_form">
                            <input type="text" class="form-control" placeholder="Buscar un producto...">
                            <button class="" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>DEPRECATED-->
                        <div class="user_option_box">
                            <a id="linkfooter" class="account-link" asp-area="" asp-controller="Home" asp-action="Cuenta">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>
                                    Mi Cuenta
                                </span>
                            </a>
                            <a id="linkfooter" class="cart-link" asp-area="" asp-controller="Home" asp-action="CarritoCompra">
                                <i class="fa fa-shopping-cart"></i>
                                <span>
                                    Carrito
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="index.html">
                            <span>
                                <img src="~/images/planetapauly.gif" height="65px"><img src="~/images/tecnopaulyletras.png" height="65px">
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a id="linkfooter" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a id="linkfooter" class="nav-link" asp-area="" asp-controller="Home" asp-action="Productos">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a id="linkfooter" class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
                                </li>
                                <li class="nav-item">
                                    <a id="linkfooter"
                                    class="nav-link btn"
                                    data-urlindex=@Url.Action("Index","Home", null, Context.Request.Scheme)
                                    onclick="cerrarSesion(this)"
                                    >Cerrar Sesión</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        @RenderBody()


        <section class="info_section ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info_contact">
                            <h5>
                                <a href="" class="navbar-brand">
                                    <span>
                                        <!--LOGO TECNOPAULY FOOTER-->
                                        <img src="~/images/tecnopaulylogo.gif" height="60px">
                                    </span>
                                </a>
                            </h5>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                +569 40371752
                            </p>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                tecnopauly@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_info">
                            <h5>
                                Información
                            </h5>
                            <p>
                                TecnoPauly es una tienda de ventas informales que ofrece productos tecnológicos al mejor precio.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_links">
                            <h5>
                                Links útiles
                            </h5>
                            <ul>
                                <li>
                                    <a id="linkfooter" asp-area="" asp-controller="Home" asp-action="">
                                        Inicio
                                    </a>
                                </li>
                                <li>
                                    <a id="linkfooter" asp-area="" asp-controller="Home" asp-action="Productos">
                                        Productos
                                    </a>
                                </li>
                                <li>
                                </li>
                                <li>
                                    <a id="linkfooter" asp-area="" asp-controller="Home" asp-action="Contacto">
                                        Contacto
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_form ">
                            <h5>
                                Síguenos en nuestra redes sociales
                            </h5>

                             <div class="social_box">
                                <style>
                                    #instagram:hover ,#facebook:hover{
                                        -moz-transition: all .2s ease-in;
                                        -o-transition: all .2s ease-in;
                                        -webkit-transition: all .2s ease-in;
                                        transition: all .2s ease-in;
                                        color: #BC40B1; 
                                    }
                                </style>
                                <a href="https://www.facebook.com/ventaspauly-102779991597552/">
                                    <i class="fa fa-facebook" aria-hidden="true" id="facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/tecnopauly/">
                                    <i class="fa fa-instagram" aria-hidden="true" id="instagram"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <p>
                    KLADT &copy; <span id="displayYear">2022</span> Todos los derechos reservados
                </p>
            </div>
        </footer>
        <!-- footer section -->

        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
